@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --primary-text: #3a3a3a;
  --heading-text: #0a0826;
  --card-heading: #18191f;
  --dark-color: #000;
  --white-color: #fff;
  --btn-bg: #e02c6d;
}

.poppins-font {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
}

body {
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
  font-size: 16px;
}

.rounded-btn {
  border-radius: 50px;
}

.btn {
  padding: 10px 24px 9px;
  color: var(--white-color);
  background-color: var(--btn-bg);
  font-size: 1rem;
  font-weight: bold;
  text-transform: capitalize;
  border: 0;
  cursor: pointer;
}

#header-container {
  width: 95%;
  max-width: 1200px;
  margin: 0 auto;
}

.nav-bar {
  width: 100%;
  margin: 20px 0 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  font-size: 1.5rem;
  color: var(--primary-text);
}
.hamburger {
  display: none;
}
.nav-menu {
  display: flex;
  gap: 34px;
  list-style: none;
}
.nav-link {
  transition: all 0.2s;
}
.nav-link a {
  color: var(--primary-text);
  text-decoration: none;
  font-size: 1rem;
  font-weight: 500;
  transition: all 0.2s;
}
.nav-link a:hover {
  color: var(--btn-bg);
}
.nav-link:hover {
  transform: scale(1.1);
}
.nav-link i {
  font-size: 1.5rem;
}

.banner-container {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.banner-heading {
  font-size: 3.25rem;
  line-height: 4.375rem;
  color: var(--primary-text);
  font-weight: bold;
}

.banner-p {
  font-size: 1rem;
  color: var(--primary-text);
  font-weight: 500;
  margin: 16px 0;
}

.banner-image {
  width: 475px;
  height: 475px;
  display: grid;
  place-items: center;
  background-image: url("../images/Circle\ design.svg");
  background-size: contain;
  background-repeat: no-repeat;
  margin-right: 12px;
}

#partners-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 70px;
  padding: 35px 60px;
  gap: 60px;
  position: relative;
  flex-wrap: wrap;
}

#partners-section::before,
#partners-section::after {
  content: "";
  position: absolute;
  left: 0;
  height: 1px;
  width: 100%;
  background: linear-gradient(
    to right,
    rgba(192, 204, 218, 0.1),
    rgba(192, 204, 218, 0.6),
    rgba(192, 204, 218, 0.1)
  );
}

#partners-section::before {
  top: 0;
}

#partners-section::after {
  bottom: 0;
}

#products-section {
  margin-top: 100px;
}

.card-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 30px;
  padding-bottom: 50px;
}

.product-card {
  max-width: 330px;
  padding: 15px 17px;
  box-shadow: 0px 0px 40px 0px rgba(0, 0, 0, 0.15);
  border-radius: 5px;
}

.card-image {
  width: 100%;
}

.section-heading {
  font-size: 1.75rem;
  line-height: 70px;
  font-weight: 600;
  text-align: center;
  margin-bottom: 30px;
}

.product-name {
  font-size: 1.75rem;
  line-height: 40px;
  color: #18191f;
  font-weight: 500;
  margin-top: 16px;
  text-transform: capitalize;
}

.product-price {
  font-family: "Inter", sans-serif;
  font-size: 1.5rem;
  line-height: 150%;
  color: rgba(0, 0, 0, 0.87);
  font-weight: 400;
}

.product-rating {
  display: flex;
  align-items: center;
  gap: 2px;
  margin: 8px 0 3px;
}

.product-rating i {
  font-size: 0.6875rem;
  color: #fb8200;
}

.rate {
  font-family: "Roboto", sans-serif;
  font-size: 0.875rem;
  font-weight: bold;
  letter-spacing: 0.1px;
  color: #5e6366;
  margin-left: 6px;
}

.product-detail {
  font-family: "Inter", sans-serif;
  font-size: 0.875rem;
  letter-spacing: 1.8%;
  color: #787885;
  font-weight: bold;
  line-height: 143%;
}

.more {
  font-size: 1rem;
  font-weight: bold;
  color: rgba(224, 44, 109, 0.87);
  border: none;
  text-align: center;
  cursor: pointer;
}
#feature-section {
  max-width: 1110px;
  margin: 0 auto;
  margin-top: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.feature-content {
  max-width: 610px;
}
.feature-p {
  max-width: 500px;
}
.feature-heading {
  font-size: 2.375rem;
  line-height: 60px;
  color: #0a0826;
  font-weight: bold;
  margin-bottom: 16px;
}
.feature-p {
  font-size: 1rem;
  line-height: 24px;
  font-weight: bold;
  color: #6c6c6c;
  margin-bottom: 16px;
}
#footer-section {
  width: 100%;
  text-align: center;
  background-color: #0a0826;
  margin-top: 100px;
  padding: 50px 0;
}
.footer-heading {
  font-size: 1.5rem;
  font-weight: bold;
  color: var(--white-color);
}
.footer-p {
  font-size: 0.875rem;
  line-height: 24px;
  font-weight: bold;
  color: #d9dbe1;
}
.social-container {
  display: flex;
  justify-content: center;
  gap: 16px;
  margin-top: 17px;
}
.social-link {
  width: 32px;
  height: 32px;
  display: grid;
  place-items: center;
  color: var(--white-color);
  background-color: rgba(255, 255, 255, 0.1);
  text-decoration: none;
  border-radius: 50%;
  transition: all 0.2s;
}
.social-link:hover {
  color: var(--btn-bg);
  background-color: var(--white-color);
}
@media screen and (max-width: 1140px) {
  .banner-image {
    width: 400px;
    height: 400px;
  }
  .banner-image img {
    width: 350px;
  }
}
@media screen and (max-width: 1100px) {
  #feature-section {
    justify-content: space-around;
    gap: 20px;
  }
  .feature-heading {
    font-size: 2rem;
  }
  .feature-image {
    width: 350px;
  }
}
@media screen and (max-width: 1060px) {
  .banner-heading {
    font-size: 2.5rem;
  }
  .banner-p {
    font-size: 0.9rem;
  }
}
@media screen and (max-width: 920px) {
  .banner-container {
    flex-direction: column-reverse;
    gap: 20px;
  }
  .banner-content {
    text-align: center;
  }
  .banner-heading {
    line-height: normal;
  }
  .feature-image {
    width: 280px;
  }
  .feature-heading {
    font-size: 1.8rem;
  }
  .feature-p {
    font-size: 0.85rem;
  }
}
@media screen and (max-width: 820px) {
  #feature-section {
    flex-direction: column-reverse;
  }
  .feature-content {
    text-align: center;
  }
}
@media screen and (max-width: 760px) {
  .nav-menu .nav-link:nth-child(1),
  .nav-menu .nav-link:nth-child(2),
  .nav-menu .nav-link:nth-child(3),
  .nav-menu .nav-link:nth-child(4),
  .nav-menu .nav-link:nth-child(5) {
    display: none;
  }
  .hamburger {
    display: inline-flex;
    width: 24px;
  }
}
@media screen and (max-width: 576px) {
  .logo {
    font-size: 1.2rem;
  }
  .banner-image {
    width: 280px;
    height: 280px;
  }
  .banner-image img {
    max-width: 250px;
  }
  .banner-heading {
    font-size: 1.8rem;
  }
  #partners-section {
    gap: 15px;
    padding: 10px 20px;
    justify-content: space-evenly;
  }
  #partners-section img {
    width: 60px;
  }
  .feature-heading {
    font-size: 1.5rem;
    line-height: 30px;
  }
}
@media screen and (max-width: 400px) {
  .feature-p {
    font-size: 0.75rem;
  }
  .feature-image {
    width: 85%;
  }
}
