@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --primary-text: #3A3A3A;
    --heading-text: #0A0826;
    --card-heading: #18191F;
    --dark-color: #000;
    --white-color: #fff;
    --btn-bg: #E02C6D;
}

.poppins-font {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
}

body {
    width: 95%;
    max-width: 1200px;
    margin: 0 auto;
    font-size: 16px;
}

.rounded-btn {
    border-radius: 50px;
}

.btn {
    padding: 10px 24px 9px;
    color: var(--white-color);
    background-color: var(--btn-bg);
    font-size: 1rem;
    font-weight: bold;
    text-transform: capitalize;
    border: 0;
    cursor: pointer;
}

#header-container {
    width: 100%;
}

.nav-bar {
    width: 100%;
    margin: 60px 0 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    font-size: 1.5rem;
    color: var(--primary-text);
}

.nav-menu {
    display: flex;
    gap: 34px;
    list-style: none;
}

.nav-link a {
    color: var(--primary-text);
    text-decoration: none;
    font-size: 1rem;
    font-weight: 500;
}

.nav-link i {
    font-size: 1.5rem;
}

.banner-container {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.banner-heading {
    font-size: 3.25rem;
    line-height: 4.375rem;
    color: var(--primary-text);
    font-weight: bold;
}

.banner-p {
    font-size: 1rem;
    color: var(--primary-text);
    font-weight: 500;
    margin: 16px 0;
}

.banner-image {
    width: 475px;
    height: 475px;
    display: grid;
    place-items: center;
    background-image: url('../images/Circle\ design.svg');
    margin-right: 12px;
}

#partners-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 70px;
    padding: 35px 60px;
    gap: 60px;
    position: relative;
    flex-wrap: wrap;
}

#partners-section::before,
#partners-section::after {
    content: "";
    position: absolute;
    left: 0;
    height: 1px;
    width: 100%;
    background: linear-gradient(to right,
            rgba(192, 204, 218, 0.1),
            rgba(192, 204, 218, 0.6),
            rgba(192, 204, 218, 0.1));
}

#partners-section::before {
    top: 0;
}

#partners-section::after {
    bottom: 0;
}

#products-section {

    margin-top: 100px;
}

.card-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 30px;
    padding-bottom: 50px;
}

.product-card {
    max-width: 330px;
    padding: 15px 17px;
    box-shadow: 0px 0px 40px 0px rgba(0, 0, 0, 0.15);
    border-radius: 5px;
}

.card-image {
    width: 100%;
}

.section-heading {
    font-size: 1.75rem;
    line-height: 70px;
    font-weight: 600;
    text-align: center;
    margin-bottom: 30px;
}

.product-name {
    font-size: 1.75rem;
    line-height: 40px;
    color: #18191F;
    font-weight: 500;
    margin-top: 16px;
    text-transform: capitalize;
}

.product-price {
    font-family: 'Inter', sans-serif;
    font-size: 1.5rem;
    line-height: 150%;
    color: rgba(0, 0, 0, 0.87);
    font-weight: 400;
}

.product-rating {
    display: flex;
    align-items: center;
    gap: 2px;
    margin: 8px 0 3px;
}

.product-rating i {
    font-size: 0.6875rem;
    color: #FB8200;
}

.rate {
    font-family: 'Roboto', sans-serif;
    font-size: 0.875rem;
    font-weight: bold;
    letter-spacing: 0.1px;
    color: #5E6366;
    margin-left: 6px;
}

.product-detail {
    font-family: 'Inter', sans-serif;
    font-size: 0.875rem;
    letter-spacing: 1.8%;
    color: #787885;
    font-weight: bold;
    line-height: 143%;
}

.more {
    font-size: 1rem;
    font-weight: bold;
    color: rgba(224, 44, 109, 0.87);
    border: none;
    text-align: center;
    cursor: pointer;
}